<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This simple weather app has been created by <a href="mailto:dipanjan.sengupta@cognizant.com">Dipanjan Sengupta</a>. It forecasts the weather of a given location using <a href="https://docs.mapbox.com/api/search/#geocoding">Mapbox Geocoding API</a> and <a href="https://darksky.net/poweredby/">Dark Sky API</a>.</p>
        <img class="portrait" src="/img/me.JPG" />
    </div>
    {{>footer}}
</body>

</html>